pkgbase = bun
	pkgdesc = Bun is a fast JavaScript all-in-one toolkit. This PKGBUILD builds from source, resulting into a smaller and faster binary depending on your CPU.
	pkgver = 1.1.18
	pkgrel = 1
	url = https://github.com/oven-sh/bun
	arch = x86_64
	license = GPL
	makedepends = clang16
	makedepends = cmake
	makedepends = esbuild
	makedepends = git
	makedepends = go
	makedepends = icu
	makedepends = libiconv
	makedepends = libtool
	makedepends = lld16
	makedepends = llvm16
	makedepends = ninja
	makedepends = pkg-config
	makedepends = python
	makedepends = ruby
	makedepends = rust
	makedepends = unzip
	makedepends = zig
	depends = zlib
	depends = libarchive
	depends = mimalloc
	depends = libuv
	depends = sqlite
	conflicts = bun-bin
	source = git+https://github.com/oven-sh/bun.git#tag=bun-v1.1.18
	source = bun-linux-x64-1.1.18.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.1.18/bun-linux-x64.zip
	b2sums = 063e21cdc8bea524c08525c378acf9d653719335f2c53cb6fdcda6957fd1e3f5c86123fa9dcbfef847490b955e0f26e4ff22122836c90ca9d8628ea91a0bd921
	b2sums = 969a88601a19456dc26f6f30bc1cfdb6a9d256a590168f08a12cfb0bdc18d47a38848a44c37bbcc559f3ff9889e4a42734c3f670af0012bb8cf157f2349ba4a7

pkgname = bun
