pkgbase = bun
	pkgdesc = Bun is a fast JavaScript all-in-one toolkit. This PKGBUILD builds from source, resulting into a smaller and faster binary depending on your CPU.
	pkgver = 1.1.29
	pkgrel = 1
	url = https://github.com/oven-sh/bun
	arch = x86_64
	license = GPL
	makedepends = clang
	makedepends = cmake
	makedepends = esbuild
	makedepends = git
	makedepends = go
	makedepends = icu
	makedepends = libdeflate
	makedepends = libiconv
	makedepends = libtool
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = pkg-config
	makedepends = python
	makedepends = ruby
	makedepends = rust
	makedepends = unzip
	makedepends = zig
	depends = c-ares
	depends = libarchive
	depends = libuv
	depends = mimalloc
	depends = tcc
	depends = zlib
	depends = zstd
	conflicts = bun-bin
	options = !ccache
	options = lto
	source = git+https://github.com/oven-sh/bun.git#tag=bun-v1.1.29
	source = bun-linux-x64-1.1.29.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.1.29/bun-linux-x64.zip
	source = git+https://github.com/oven-sh/WebKit.git#commit=4a2db3254a9535949a5d5380eb58cf0f77c8e15a
	source = describeFrame.patch
	b2sums = 2ea0c86bc5c120e2f452ca5614fe09c11f2b99c3747efe76e21764f25ed28fd6fee4cafc35ac8c44c5ab4aafc2be7494944e0be162bb322a3233cd6a9d712ccc
	b2sums = 05eaaa1369457ee47393a7e91d3ee74bccad11c39d83818034079e7e9b31b343a09996b36deac850eced8333e42b8c7cc6293d98a1ce8625aa54dffd60ee06d2
	b2sums = 82c6b8570b8fc7fd2dd030bf5fee70585b9cc82a1e6b096656e2fbfc6b2e8cbc81468a777b5f1daae874650de83f183f9e8f35170a2a14aa387d8dc6a0ebed74
	b2sums = 1f0c037df9ed2df72df9cb714843bc7f64cc6fd06482132d9b09846ab69db5cab6f5910c6e27d2b335af4b0fd7b2694f7fb27de1c4c34848b12cdcd9fd347f1f

pkgname = bun
