pkgbase = bun
	pkgdesc = Bun is a fast JavaScript all-in-one toolkit. This PKGBUILD builds from source, resulting into a smaller and faster binary depending on your CPU.
	pkgver = 1.1.3
	pkgrel = 1
	url = https://github.com/oven-sh/bun
	arch = x86_64
	license = GPL
	makedepends = clang16
	makedepends = cmake
	makedepends = esbuild
	makedepends = git
	makedepends = go
	makedepends = icu
	makedepends = libiconv
	makedepends = libtool
	makedepends = lld16
	makedepends = llvm16
	makedepends = ninja
	makedepends = pkg-config
	makedepends = python
	makedepends = ruby
	makedepends = rust
	makedepends = unzip
	depends = zlib
	depends = libarchive
	depends = mimalloc
	depends = libuv
	depends = sqlite
	conflicts = bun-bin
	source = git+https://github.com/oven-sh/bun.git#tag=bun-v1.1.3
	source = bun-linux-x64-1.1.3.zip::https://github.com/oven-sh/bun/releases/download/bun-v1.1.3/bun-linux-x64.zip
	b2sums = cdec288d0171ffa8668e04fe0139b2c5839ccf1896f96197b0415987a98709e1cde0a96d8f61ff8faba87be1df896e8f70b2b06053a6c569ce1749f09d46a067
	b2sums = 11b97cbf916a9087646eb5c1c7c3afbb4294dbcd24a67763b1f6beeadab8ef61fe1a2802cc2bfb4ad21cb29576a6edb4f21c5c7c1bef163798edd86711bf31f1

pkgname = bun
